.DS_Store
**.orig
/.bundle/
/.yardoc
/_yardoc/
/Gemfile.lock
/log
/tmp
/spec/tmp
/spec/reports/
/.bundle/
/coverage/
/pkg/
/doc/
.byebug_history
dump.rdb
export_generation_good.txt
export_generation_bad.txt
export_download_good.txt
export_dowload_bad.txt
blackboard_exports/*
*.gem
